<!DOCTYPE html>
<html>
<head>
  <title>Schedwid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <span class='title'>Request an Appointment</span>
  <span class='title-info'>The Therapy Center</span>
</div>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
